.card {
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--lightgray);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    transition: all .2s ease;
}

.card:hover {
    filter: brightness(1.20);
    transition: all .2s ease;
}

.image {
    width: 64px;
    height: 64px;
    background-color: var(--white);
    border-radius: 100%;
}

.title {
    text-transform: capitalize;
    margin: 1rem 0;
}

.normal { 
    background-color: var(--type-normal);
}

.fire {
    background-color: var(--type-fire);
}

.fighting {
    background-color: var(--type-fighting);
}

.water {
    background-color: var(--type-water);
}

.flying {
    background-color: var(--type-flying);
}

.grass {
    background-color: var(--type-grass);
}

.poison {
    background-color: var(--type-poison);
}

.electric {
    background-color: var(--type-electric);
}

.ground {
    background-color: var(--type-ground);
} 

.psychic {
    background-color: var(--type-psychic);
}

.rock {
    background-color: var(--type-rock);
}

.ice {
    background-color: var(--type-ice);
}

.bug {
    background-color: var(--type-bug);
}

.dragon {
    background-color: var(--type-dragon);
}

.ghost {
    background-color: var(--type-ghost);
}

.dark {
    background-color: var(--type-dark);
}

.steel {
    background-color: var(--type-steel);
}

.fairy {
    background-color: var(--type-fairy);
}