.container {
    max-width: 1000px;
    margin: 0 auto;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 2rem;
}

.pagination {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pagination a:hover {
    text-decoration: underline;
}