:root {
  --white: #ffffff;
  --red: #A31111;
  --lightgray: #f0f0f0;
  --type-normal: #A8A878;
  --type-fire: #F08030;
  --type-fighting: #C03028;
  --type-water: #6890F0;
  --type-flying: #A890F0;
  --type-grass: #78C850;
  --type-poison: #A040A0;
  --type-electric: #F8D030;
  --type-ground: #E0C068;
  --type-psychic: #F85888;
  --type-rock: #B8A038;
  --type-ice: #98D8D8;
  --type-bug: #A8B820;
  --type-dragon: #7038F8;
  --type-ghost: #705898;
  --type-dark: #705848;
  --type-steel: #B8B8D0;
  --type-fairy: #EE99AC;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.default-link:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}